<div id="navbar" class="ui menu fixed inverted">
        
                <div class="header item">
                   <i class="icon protect"></i><a href="/"> Datari</a>
                </div>
                <a class="item">
                    About Us
                </a>
                <a class="item">
                    Jobs
                </a>
                <a class="item">
                    Locations
                </a>
                <a href="/login" class="item right">
                        Login
                    </a>
                    <a href="/register" class="item">
                        Register
                </a>
            
        </div>