<% include ./inc/header %>
<% include ./inc/navbar %>
<% include ./inc/sidebar %>
    <div id="login" class="ui main text container segment">
        <div class="ui huge header">Log in to your Account</div>
        <form class="ui form" action="/" method="get">
            <div class="field">
                <input type="text" name="login[username]" placeholder="Username">
            </div>

            <div class="field">
                <input type="password" name="login[password]" placeholder="Password">
            </div>
            <div class="field">
                <div class="ui two buttons">

                    <input class="ui fluid blue button" type="submit" value="Login">
                    <a class="ui fluid teal button" href="/register">Register</a>
                </div>
            </div>

        </form>

    </div>

    <div class="clearfix"></div>

    <% include ./inc/footer %>